<html>

<head>
  <title>Character Matching</title>
</head>

<body>
  <h4>Check if input has same number of O and X</h4>
  <form action="">
    <input type="text">
    <button>Check Input</button>
  </form>
</body>

</html>